.group:hover .group-hover-fill-white path {
    fill: #ffffff;
}

.fill-pink path {
    fill: #f85e9f;
}
.swiper {
    width: 100%;
    height: 100%;
    padding: 0 16px;
}
.swiper-wrapper {
    padding: 20px 0px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}
.swiper .swiper-slide-active {
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}
.swiper-pagination {
    display: none;
}
